img {
    max-height: 325px;
    max-width: 325px;
}
h1 {
    text-align: center;
}
figure {
    text-align: center;
}

html {
    background-color: green;
}

ul {
    color: black;
}

img {
    width: 325px; /*changed max-width to just width, same for height*/
    height: 325px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

.neon {
    font-size: 20px;
    color: #fff;
    text-shadow: 0 0 8px yellow;
    animation: blinker 6s;
    animation-iteration-count: 1;
}
@keyframes blinker {
    0% {
        opacity: 0.2;
    }
    19% {
        opacity: 0.2;
    }
    20% {
        opacity: 1;
    }
    21% {
        opacity: 1;
    }
    22% {
        opacity: 0.2;
    }
    23% {
        opacity: 0.2;
    }
    36% {
        opacity: 0.2;
    }
    40% {
        opacity: 1;
    }
    41% {
        opacity: 0;
    }
    42% {
        opacity: 1;
    }
    43% {
        opacity: 0.5;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}

div.blinkDot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    animation: blinker 2s linear infinite;
    background-color: red;
    margin-right: 5px;
}
div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 5px;
    background-color: #cae8ca;
    border: 2px solid #4CAF50;
}
.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}