img {
    max-height: 325px;
    max-width: 325px;
}
h1 {
    text-align: center;
}
figure {
    text-align: center;
}

html {
    background-color: green;
}

ul {
    color: black;
}

img {
    width: 325px; /*changed max-width to just width, same for height*/
    height: 325px;
}

.blink_me {
    animation: blinker 1s linear infinite;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}
@-webkit-keyframes blinker {
    0% { opacity: 1.0; }
    50% { opacity: 0.0; }
    100% { opacity: 1.0; }
}
/*
.blinkDot {
    width: 10px;
    height: 10px;
    border-radius: 10px;
    animation: blinker 2s linear infinite;
    background-color: red;
    margin-right: 5px;
}

.content {
    display: flex;
    flex-direction: row;
    align-items: center;
}*/